target/
*.log
*.tmproj
.*.sw[a-z]
*.iml
*.pyc
.idea/
.idea/*
.native/
.native/*
.scala
.scala/*
.DS_Store
.ensime
.bundle
.ivyjars
.run_classpath
.classpath.txt
.cache
.classpath
.project
Gemfile.lock
/.py/
#*
*#
.#*
*~
.*~
.ensime.msg.counter
ensime_port
GPATH
GRTAGS
GSYMS
GTAGS
.ivy2
TAGS
*.ipr
*.iws
git.properties
