target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
**/project/boot/
**/project/plugins/project/
**/project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
.*.sw[a-z]
*.iml
*.pyc
.idea/
.idea/*
.DS_Store
.ensime
.ivyjars
.run_classpath
Gemfile.lock
/.py/
#*
*#
.#*
*~
.*~
/bin/sbt-launch-0.7.5.jar
